################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AI_A1_23F_0524.pdf
/README.md
/AI_A1_23F_0524.pdf
